<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<property name="LOGS" value="/opt/axteroid-avatar/log" />
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
<!--             <pattern>%d{HH:mm:ss.SSS} |%thread |%-5level |%logger{36} |%msg%n</pattern> -->
            <pattern>%d{ISO8601} |%X{FILE} |%p |%-4C:%L |%m%n</pattern>
        </encoder>
    </appender>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{ISO8601} |%thread |%-5level |%logger{36} |%msg%n</pattern>
        </encoder>
    </appender> 
 	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOGS}/Ax-Avatar.log</file>
	    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{ISO8601} |%X{FILE} |%p |%-4C:%L |%m%n</pattern>
	    </encoder>	
	    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	        <fileNamePattern>${LOGS}/Ax-Avatar_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
	        <maxFileSize>1000MB</maxFileSize>
	        <maxHistory>10</maxHistory>
	        <totalSizeCap>10000MB</totalSizeCap>
	        <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1000MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
	    </rollingPolicy>	        
	</appender>   
    <root level="info">
    	<appender-ref ref="RollingFile" />
        <appender-ref ref="Console"/>
    </root>
 	<logger name="com.axteroid.ose.server" level="trace" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>   
</configuration>